html {
	box-sizing: border-box;
	font-family: arial, helvetica, sans-serif;
	width: 100%;
  background: blue;


}

 body {
	background:#FFFFFF;
	padding: top right bottom left;
	margin: 0;
	overflow-x: hidden; */
}

.logo {
	width: 4rem;
    padding: 1em;

}

h1 {

   color:black;
	text-align:left;
	margin-top: 2em;
	top:-50px;	
	left:460px;
	font-size:30px;

}

h3 {
  color: black; 
  text-align: right;
  float: right; 
  left: 2rem;
  margin-right: 10em;

}

p {

    color:black;
	text-align:left;
	margin-top: 3em;
	top:1rem;	
	left:400px;
	font-size:30px;
	width: 100%;

}

.btn {
color: black; 
background:black;
color: #FFF;
padding: 0.6rem 1.3rem;
text-decoration: none;
border: 0;
font-size:20px;
text-align:right;
margin-left: 64em;
right:1rem;
position: relative;
bottom: 70px;
}

body, html {
  height: 90%;
  margin:0;
  padding: 0;
  font-family: arial;
}

.container {
  position: relative;
  text-align: center;
  color: black;

  }

/* Top left text */
.top-left {
  position: absolute;
  color: white;
  top: 3rem;
  left: 40px;
  font-size: 50px;
  line-height: 13em;
  text-align: 20em;
  margin-right: 4px;
 }

/*Knapp nedanför "Resor till billiga priser" */
section .btn {
color: black; 
background:white;
color: black;
margin-left: -1200px;
text-align: 20em;
position: relative;
bottom: 525px;
right: 1em;
}

.nav {
background-color: white;
color:#ffffff;
list-style: none;
text-align: center;
padding: 20px 0 20px 0;
font-size: 130%;
}

.nav > li {
display: inline-block;
padding-right: 80px;
background-color: white;

}

.nav > li > a {
text-decoration: none;
color:black;
margin:20px;
}





    /*padding: 0;
    box-sizing: border-box;
	list-style: none;
	grid-template-columns: repeat(5, 1fr)
	display: block;
	padding: 0;
	margin: 0;
	background-color: white; 
	text-align: center;
	font-size: 1.1rem;
	color: black;*/
} 

* {
  box-sizing: border-box;
}

/*CSS FÖR SIDAN KONTAKT*/

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #87CEEB;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ADD8E6;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 45%;
  margin-top: 30px;
  padding: 30px;
  height: auto;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

h1 {

text-align: center;
margin-top: 10px;

}
/*CSS FÖR SIDAN OM OSS*/

.showcase-about{
  
  min-height: 500px;
  background: url(https://image.freepik.com/free-photo/seascape-abstract-beach-background_1484-2000.jpg);
    background-size: cover;
    padding: 3rem;
    text-align: left;   
    font-size: 4px; 
}

.showcase-about h1{
  color:black;
  text-align:center;
  margin-top: 1em;
  top:50px;  
  right:-800px;
  font-size:30px;
}

.showcase-about article {
  grid-area: article;
  margin-top: 7em;
}

/*.showcase-about p{
  color:#FFF;
  text-align:center;
  position:relative;
  top:70px;
  padding:10px;
  letter-spacing: 1.5px;
  line-height:40px;*/
}

#about-text p {
  grid-area: article;
  margin-top: 10em;
  color:#FFF;
  line-height: 10em
  vertical-align:30em;
  top:10px;
  left:400px;
  text-align:center;
  position:relative;

}

footer.fotnot {
 background: white;
 margin: 8px 5px 5px;
 padding: 5px 5px 5px;
 border-radius: 40px;
 border-size:5px;
 border: 3px solid black;
 width: 60%;
 position: relative;
 margin-left: 60em;
 outline-color: black;
 justify-content: center;

}

p {

font: 20px times;
text-align: center;
padding-top: 10px;
padding-bottom: -10rem;
line-height: 1em;
}

/*CSS FÖR SIDAN MIN SIDA OCH HOTELL OCH RESMÅL*/



/* Coloring time */
h2 span /* dekorerar inom span taggen */{ 
color: white; 
font: bold 24px/45px Helvetica, Sans-Serif; 
letter-spacing: 3px; 
background: rgb(0, 0, 0); /* fallback color */ 
background: rgba(0, 0, 0, 0.7); padding: 10px; 




}


.boxhotel {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 5%;
    transition: transform .2s;
    background-color: beige;
    background-repeat: repeat-y;
    background-repeat: space;
    background: url(https://image.freepik.com/free-photo/folded-towels-bed_1203-973.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   
}
.boxhotel:hover{
    transform: scale(1.03);
}
.Hotelheader {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    font-size: 100%;
}
.hotel1{
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 80%;
    
}
.hotel2{
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 80%;
}
.hotel3{
    grid-column: 3;
    grid-row: 3;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 80%;
}

.hotelbild{
    border-radius: 5px 5px 0px 0px;
    padding:0px;
    margin:0px;
}
.hoteltext{
    border-top:2px solid rgb(89, 187, 194);
}
h4{
    margin:0;
    padding:0;
    font-size: 30px;
}

h5 {
   margin: 0;
   padding: 0;
   font-size: 17px;


}

h6 {
   margin: 0;
   padding:15px;
   font-size: 13px;

}

@media (max-width: 1000px) 
{
.Hotelheader {
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
    font-size: 90%;
}
.hotel1{
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 80%;
    margin: 2% 1.5% 1.5% 3%;
}
.hotel2{
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 80%;
    margin: 2% 3% 1.5% 1.5%;
}
.hotel3{
    grid-column: 1;
    grid-row: 4;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 80%;
    margin: 2% 1.5% 1.5% 3%;
}

.hotelbild{
    border-radius: 5px 5px 0px 0px;
    padding:0px;
    margin:0px;
}
.hoteltext{
    border-top:2px solid rgb(89, 187, 194);
    text-align: start;
    padding: 0% 5% 0% 5%;
}
h4{
    margin:0;
    padding:0;
}
.hotelfooter {
      grid-column: 1/3;
      grid-row: 6;
      font-size: 80%;
      text-align: center;
      padding: 0px 5px 5px 5px;
      margin-bottom: 25px;
      height: 10px;
      color: black;
     }
}
